<!DOCTYPE html>

<html>
<head>
    <title> :: RTLme :: </title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../static/stylesheets/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/stylesheets/style.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../static/javascripts/jquery.raty.min.js"></script>
</head>
<body>

{% block content %}{% endblock %}

<footer>Powered by <a href="http://arikg.co.il/about">Arik Galansky</a> & <a href="http://it.ai">Itai Nathaniel</a>
</footer>

</body>
</html>