{% extends "main/base.html" %}
{% load url from future %}

{% block content %}
    <div id="wrapper" class="paste">
        <a href="{% url 'main:index' %}"><h1 class="logo">RTLme</h1></a>

        <form class="main" action="{% url 'main:rtl' %}" method="post">
            {% csrf_token %}
            <!-- TODO arikg: make error message work-->
            <!--{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}-->
            <div class="row">
                <textarea class="text-area text-area-big" name="input_text" id="input_text"
                          placeholder="Insert LTR CSS"></textarea>
            </div>
            <div class="row submit">
                <input type="submit" name="submit" class="btn btn-primary btn-large" value="RTL me!">
            </div>
        </form>
    </div>
{% endblock %}
